@CHARSET "UTF-8";
* {
	padding:0;
	margin:0;
}
ul{
	list-style-type:none;
}
em{
 	font:normal 22px/1em Constantia,Georgia;
}
body {
	width:535px;
	margin:0 auto;
	font-size:14px;
	font-family: sans-serif;
	position:relative;
}
#weibo{
	background-color: #ffffff;
	float:left;
	position:relative;
}
#weibo textarea {
	width:524px;
	border:1px solid #ff8040;
	height:100px;
	background:#fff;
	padding:5px;
	margin:5px 0 0 0;
}
#weibo  input.button {
	width:60px;
	height:19px;
	border:1px solid #333;
	background:#fff;
	cursor:pointer;
	margin:5px 5px 5px 0;
	float:right;
}
#weibo  img {
	display:block;
	float:left;
	padding:5px 0 0 6px;
}
#weibo #emoj {
	display:none;
	width:300px;
	height:200px;
	background:#eee;
	border:1px dashed #333;
	position:absolute;
	top:138px;
	left:26px;
}